.card-info {
  border: 1px solid #C2C2C2;
  border-radius: 28px;
  padding: 32px;
  position: relative;
  padding-bottom: 50px !important;
}

.text-label {
  color: #979797;
  position: absolute;
  top: -11px;
  background-color: #ffffff;
  padding-right: 5px;
  padding-left: 5px;
}

.text-label-error {
  color: #FF4848;
  position: absolute;
  top: -11px;
  background-color: #ffffff;
  padding-right: 5px;
  padding-left: 5px;
}

.input-box {
  border: 1px solid #979797;
  border-radius: 14px;
  min-height: 48px;
  max-height: 48px;
}

.input-box:focus-within {
  p {
    color: #00aa7e !important;
  }

  border: 1px solid #00AA7E;
  border-radius: 14px;
  min-height: 48px;
  max-height: 48px;
}

.input-box-error {
  border: 1px solid #FF4848;
  border-radius: 14px;
  min-height: 48px;
  max-height: 48px;
}

input {
  border: hidden;
  outline: none;
  margin-top: 12px;
  padding-right: 5px;
  width: 100%;
}

.display-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mt-input {
  margin-top: 33px;
}

.m-input {
  margin-top: unset;
}

.mt-div {
  margin-top: 33px;
}

@media (min-width: 1200px) {

  .col-xl-5-3qtr {
    -ms-flex: 0 0 47.916667%;
    flex: 0 0 47.916667%;
    max-width: 47.916667%;
  }

}

@media (min-width: 992px) {

  .col-lg-5-3qtr {
    -ms-flex: 0 0 47.916667%;
    flex: 0 0 47.916667%;
    max-width: 47.916667%;
  }

}

@media (max-width: 991px) {

  .mt-div {
    margin-top: unset;
  }

  .mt-input {
    margin-top: 33px;
  }

  .m-input {
    margin-top: 33px;
  }

  .display-inputs {
    display: flex;
    flex-direction: column;
  }

}

.btn-add {
  border: 1px solid #00AA7E;
  color: #00AA7E;
  border-radius: 14px;
  height: 48px;
  background-color: #ffffff;
  position: absolute;
  bottom: -24px;
  width: 300px;
}

.btn-add:disabled {
  border: 1px solid #979797;
  color: #979797;
  border-radius: 14px;
  height: 48px;
  background-color: #ffffff;
  position: absolute;
  bottom: -24px;
  width: 300px;
}

::ng-deep {

  .mat-calendar-body-cell-content {
    font-family: DanaLightNum, sans-serif;
  }

  .mat-button .mat-button-wrapper {
    font-family: DanaLightNum, sans-serif;
  }

}
