<div class="d-flex w-100">
  <div class="aside" id="CYBER_TOOLS_ASIDE">
    <app-aside class="aside-app"></app-aside>
  </div>
  <div class="min-vh-100 d-flex justify-content-between flex-column" id="CYBER_TOOLS_MAIN">

    <div>
      <header>
        <app-header></app-header>
      </header>
      <div>
        <section class="section">
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
    <!--<ng-container>
          <app-footer></app-footer>
        </ng-container>-->
  </div>
</div>
