<div class="d-flex justify-content-center align-items-center overflow-auto" style="height: 100vh">
  <div class="mainDiv">
    <div class="lottie-style">
      <!--<ng-lottie [options]="{path:'/assets/media/lottie/error404.json'}"></ng-lottie>-->
      <img alt="404" src="assets/media/images/svg/errors/404.svg"/>
    </div>
    <div style="display: grid;justify-content: center;line-height: 2">
      <!--<button class="btn-primary" routerLink="/">بازگشت به صفحه اصلی</button>-->
      <img alt="back" class="cursor-pointer" routerLink="/" src="assets/media/images/svg/errors/backButton.svg"/>
    </div>
  </div>
</div>
