<div class="position-relative" style="width: fit-content">
  <fieldset class="rating" dir="ltr">
    <!--<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
-->
    <ng-container *ngFor="let item of [].constructor(max); let i = index">

      <input (change)="changeValue((max-i-1)+1)" *ngIf="!id" [(ngModel)]="rateModel" [disabled]="readonlyRate"
             [id]="'star'+(max-i-1)+uniqId"
             [name]="'rating'+uniqId" [readOnly]="readonlyRate" [value]="(max-i-1)+1"
             type="radio"/>
      <label *ngIf="!id" [for]="'star'+(max-i-1)+uniqId" [title]="(max-i-1)+1" class="full"></label>

      <input (change)="changeValue((max-i-1)+0.5)" *ngIf="!id" [(ngModel)]="rateModel" [disabled]="readonlyRate"
             [id]="'starHalf'+(max-i-1)+uniqId"
             [name]="'rating'+uniqId" [readOnly]="readonlyRate" [value]="(max-i-1)+0.5"
             type="radio"/>
      <label *ngIf="!id" [for]="'starHalf'+(max-i-1)+uniqId" [title]="(max-i-1)+0.5" class="half"></label>
      <input (change)="changeValue((max-i-1)+1)" *ngIf="id" [(ngModel)]="rateModel" [disabled]="readonlyRate"
             [id]="'star'+(max-i-1)+id"
             [name]="'rating'+id" [readOnly]="readonlyRate" [value]="(max-i-1)+1"
             type="radio"/>
      <label *ngIf="id" [for]="'star'+(max-i-1)+id" [title]="(max-i-1)+1" class="full"></label>

      <input (change)="changeValue((max-i-1)+0.5)" *ngIf="id" [(ngModel)]="rateModel" [disabled]="readonlyRate"
             [id]="'starHalf'+(max-i-1)+id"
             [name]="'rating'+id" [readOnly]="readonlyRate" [value]="(max-i-1)+0.5"
             type="radio"/>
      <label *ngIf="id" [for]="'starHalf'+(max-i-1)+id" [title]="(max-i-1)+0.5" class="half"></label>
    </ng-container>
  </fieldset>
  <div [ngClass]="{'disabled':readonlyRate}"></div>
  <div style="clear: both"></div>
</div>

