<div [formGroup]="addForm" class="card-info">
  <p class="body2-bold col-green text-label">تغییر رمزعبور</p>

  <div class="row display-inputs">
    <div class="col-12 col-sm-12 col-md-12  col-lg-12 col-xl-12 input-box">
      <p class="Caption1-medium col-97 text-label">رمزعبور قبلی</p>
      <input [regex]="globalVariableService.USER_NAME_REGEX" class="body1-medium col-33" formControlName="oldPassword"
             maxlength="20" minlength="5" placeholder="بین 8 تا 20 کاراکتر"
             style="direction: ltr" type="password">
    </div>
    <div class="col-12 col-sm-12 col-md-12  col-lg-5-3qtr col-xl-5-3qtr input-box mt-input">
      <p class="Caption1-medium col-97 text-label">رمزعبور جدید</p>
      <input [regex]="globalVariableService.USER_NAME_REGEX" class="body1-medium col-33" formControlName="newPassword"
             maxlength="20" minlength="5" placeholder="بین 8 تا 20 کاراکتر"
             style="direction: ltr" type="password">
    </div>

    <div [ngClass]="((passwordMisMatch == true)) ? 'input-box-error' : 'input-box'"
         class="col-12 col-sm-12 col-md-12  col-lg-5-3qtr col-xl-5-3qtr input-box mt-input">
      <p [ngClass]="((passwordMisMatch == true)) ? 'text-label-error' : 'text-label'"
         class="Caption1-medium col-97 text-label">تکرار رمزعبور جدید</p>
      <input (keyup)="checkField()" [regex]="globalVariableService.USER_NAME_REGEX"
             class="body1-medium col-33" formControlName="newPasswordRepeat"
             maxlength="20" minlength="5" placeholder="بین 8 تا 20 کاراکتر" style="direction: ltr" type="password">
      <p *ngIf="(passwordMisMatch == true)" class="persianNum-medium-10"
         style="color:#FF4848;margin-top: 16px">تکرار رمز عبور با رمز عبور جدید برابر نیست</p>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center">
    <button (click)="changePassword()" [disabled]="addForm.invalid || loading || passwordMisMatch"
            class="btn-add body1-medium d-flex justify-content-center align-items-center">
      <span *ngIf="!loading">ویرایش </span>
      <span *ngIf="loading"><i class="spinner-border mx-3"></i></span>
    </button>
  </div>
</div>
