@import 'colors';

.green-button {
  background: $primary-green;
  border-radius: 14px;
  color: $primary-white;
  border: none;
}

.green-button:hover {
  background: $primary-green-hover;
  border-radius: 14px;
  color: $primary-white;
}

.green-button:disabled {
  background: $light-gray;
  border-radius: 14px;
  color: $primary-white;
}

.purple-button {
  background: $primary-purple;
  border-radius: 14px;
  color: $primary-white;
}

.purple-button:hover {
  background: $primary-purple-hover;
  border-radius: 14px;
  color: $primary-white;
}

.purple-button:disabled {
  background: $light-gray;
  border-radius: 14px;
  color: $primary-white;
}

.green-button-outLine {
  background-color: #FFFFFF;
  border: solid 1px $primary-green;
  border-radius: 14px;
  color: $primary-green;
}

.green-button-outLine:hover {
  background: $primary-green-hover;
  border-radius: 14px;
  color: $primary-white;
}

.green-button-outLine:disabled {
  background: $light-gray;
  border-radius: 14px;
  color: $primary-white;
}

.purple-button-outLine {
  border: solid 1px $primary-purple;
  border-radius: 14px;
  color: $primary-purple;
}

.purple-button-outLine:hover {
  background: $primary-purple-hover;
  border-radius: 14px;
  color: $primary-white;
}

.purple-button-outLine:disabled {
  background: $light-gray;
  border-radius: 14px;
  color: $primary-white;
}
