<vm-player #player (vReady)="onReady" [translations]="translations" language="en" style="--vm-player-theme: #0a74a8;"
           theme="dark">
  <vm-hls [poster]="posterLink" cross-origin>
    <source [src]="link" type="application/x-mpegURL"/>
  </vm-hls>

  <vm-default-ui no-setting>
    <!--<vm-settings>
      <vm-menu-item
        label="Menu Item 1"
        badge="BADGE"
        (click)="onMenuItem1Click"
      ></vm-menu-item>

      <vm-menu-item
        label="Menu Item 2"
        hint="Hint"
        (click)="onMenuItem2Click"
      ></vm-menu-item>

      <vm-submenu label="Submenu 1" [hint]="value">
        <vm-menu-radio-group [value]="value" (vCheck)="onCheck">
          <vm-menu-radio label="Option 1" value="1"></vm-menu-radio>
          <vm-menu-radio label="Option 2" value="2"></vm-menu-radio>
          <vm-menu-radio label="Option 3" value="3"></vm-menu-radio>
        </vm-menu-radio-group>
      </vm-submenu>

      <vm-submenu label="Submenu 2"> Random content in here. </vm-submenu>
    </vm-settings>-->
  </vm-default-ui>
</vm-player>
