<div *ngIf="loading" class="mt-5 mb-5 d-flex justify-content-center">
  <span><i class="spinner-border"></i></span>
</div>
<div *ngIf="!loading" class="row d-flex justify-content-between">
  <div class="card-user col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 d-flex flex-column ">
    <div class="d-flex flex-row justify-content-start">
      <div class="doc-img-body">
        <img
          [src]="(doctor?.profileImage) ? doctor?.profileImage : 'assets/media/images/svg/doctor/profile-placeholder.png'"
          alt="img" class="doc-img">
      </div>
      <div>
        <p class="body2-bold col-33"
           style="margin-right: 12px ">{{(doctor?.firstName) ? doctor?.firstName + ' ' + doctor?.lastName : 'وارد نشده'}}</p>
        <p class="persianNum-medium-12 col-33 mt-2"
           style="margin-right: 12px ">{{(doctor?.mobile) ? doctor?.mobile : 'وارد نشده'}}</p>
      </div>
    </div>
    <div [routerLinkActiveOptions]="{exact: true}" class="item-nav body2-medium"
         routerLink="/doctors/detail/{{doctor?.id}}" routerLinkActive="item-nav-active"
         style="margin-top: 35px">
      <p>اطلاعات پزشک</p>
    </div>
    <div class="item-nav body2-medium" routerLink="/doctors/detail/{{doctor?.id}}/financial"
         routerLinkActive="item-nav-active" style="margin-top: 8px">
      <p>اطلاعات مالی</p>
    </div>
    <div class="item-nav body2-medium" routerLink="/doctors/detail/{{doctor?.id}}/weekBook"
         routerLinkActive="item-nav-active" style="margin-top: 8px">
      <p>ساعت کاری پزشک</p>
    </div>
    <div class="item-nav body2-medium" routerLink="/doctors/detail/{{doctor?.id}}/consulting"
         routerLinkActive="item-nav-active" style="margin-top: 8px">
      <p>مشاوره ها</p>
    </div>
    <div class="item-nav body2-medium" routerLink="/doctors/detail/{{doctor?.id}}/question"
         routerLinkActive="item-nav-active" style="margin-top: 8px">
      <p>پرسش و پاسخ‌ها</p>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-8-half col-xl-8-half d-flex flex-column p-0 margin-top">
    <router-outlet></router-outlet>
  </div>

</div>
