<form (ngSubmit)="submit()" [formGroup]="registrationForm" class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework"
      id="kt_login_signup_form" novalidate="novalidate">
  <div class="mb-10 text-center">
    <h1 class="text-dark mb-3">Create an Account</h1>
    <div class="text-gray-400 fw-bold fs-4">
      Already have an account?
      <a [style.margin-left]="'5px'" class="link-primary fw-bolder" routerLink="/auth/login">Sign in?</a>
    </div>
  </div>

  <button class="btn btn-light-primary fw-bolder w-100 mb-10" type="button">
    <img alt="Logo" class="h-20px me-3" src="./assets/media/svg/brand-logos/google-icon.svg"/>Sign in with Google
  </button>

  <div class="d-flex align-items-center mb-10">
    <div class="border-bottom border-gray-300 mw-50 w-100"></div>
    <span class="fw-bold text-gray-400 fs-7 mx-2">OR</span>
    <div class="border-bottom border-gray-300 mw-50 w-100"></div>
  </div>

  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        The registration details are incorrect
      </div>
    </div>
  </ng-container>

  <div class="row fv-row mb-7">
    <label class="form-label fw-bolder text-dark fs-6">Fullname</label>
    <input [ngClass]="{
        'is-invalid': registrationForm.controls['fullname'].invalid,
        'is-valid': registrationForm.controls['fullname'].valid
      }" autocomplete="off" class="form-control form-control-lg form-control-solid" formControlName="fullname"
           name="fullname" placeholder="Fullname" type="text"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Fullname is required',
        control: registrationForm.controls['fullname']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Fullname should have at least 3 symbols',
        control: registrationForm.controls['fullname']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Fullname should have maximum 100 symbols',
        control: registrationForm.controls['fullname']
      }" [ngTemplateOutlet]="formError"></ng-container>
  </div>

  <div class="fv-row mb-7">
    <label class="form-label fw-bolder text-dark fs-6">Email</label>
    <input [ngClass]="{
        'is-invalid': registrationForm.controls['email'].invalid,
        'is-valid': registrationForm.controls['email'].valid
      }" autocomplete="off" class="form-control form-control-lg form-control-solid" formControlName="email" name="email"
           placeholder="Email" type="email"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Email is required',
        control: registrationForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Email is invalid',
        control: registrationForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Email should have at least 3 symbols',
        control: registrationForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Email should have maximum 360 symbols',
        control: registrationForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
  </div>

  <div class="mb-10 fv-row">
    <label class="form-label fw-bolder text-dark fs-6">Password</label>
    <input [ngClass]="{
        'is-invalid': registrationForm.controls['password'].invalid,
        'is-valid': registrationForm.controls['password'].valid
      }" autocomplete="off" class="form-control form-control-lg form-control-solid" formControlName="password"
           name="password" placeholder="Password" type="password"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Password is required',
        control: registrationForm.controls['password']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Password should have at least 3 symbols',
        control: registrationForm.controls['password']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Password should have maximum 100 symbols',
        control: registrationForm.controls['password']
      }" [ngTemplateOutlet]="formError"></ng-container>
  </div>

  <div class="fv-row mb-5">
    <label class="form-label fw-bolder text-dark fs-6">Confirm Password</label>
    <input [ngClass]="{
        'is-invalid': registrationForm.controls['cPassword'].invalid,
        'is-valid': registrationForm.controls['cPassword'].valid
      }" autocomplete="off" class="form-control form-control-lg form-control-solid" formControlName="cPassword"
           name="cPassword" placeholder="Confirm password" type="password"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Confirm Password is required',
        control: registrationForm.controls['cPassword']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Confirm Password should have at least 3 symbols',
        control: registrationForm.controls['cPassword']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Confirm Password should have maximum 100 symbols',
        control: registrationForm.controls['cPassword']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container
      *ngIf="registrationForm.controls['cPassword'].errors && registrationForm.controls['cPassword'].errors.ConfirmPassword">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          'Passsword' and 'Confirm Password' didn't match.
        </div>
      </div>
    </ng-container>
  </div>

  <div class="fv-row mb-10">
    <div class="form-check form-check-custom form-check-solid">
      <input class="form-check-input" formControlName="agree" id="kt_login_toc_agree" name="agree" type="checkbox"/>

      <label class="form-check-label fw-bold text-gray-700 fs-6" for="kt_login_toc_agree">
        I Agree the&nbsp;<a class="ms-1 link-primary" href="https://keenthemes.com/metronic/?page=faq" target="_blank">terms
        and conditions</a>.
      </label>
    </div>
  </div>

  <div class="text-center">
    <button [disabled]="registrationForm.invalid || !registrationForm.controls['agree'].value"
            class="btn btn-lg btn-primary w-100 mb-5" id="kt_sign_up_submit" type="submit">
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Submit</span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span [style.display]="'block'" class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a class="btn btn-lg btn-light-primary w-100 mb-5" id="kt_login_signup_form_cancel_button" routerLink="/auth/login"
       type="button">
      Cancel
    </a>
  </div>
</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
