<div #chartRef [style.height]="chartHeight" class="w-chart">
  <apx-chart [chart]="chartOptions.chart"
             [colors]="chartOptions.colors"
             [dataLabels]="chartOptions.dataLabels"
             [fill]="chartOptions.fill"
             [legend]="chartOptions.legend"
             [markers]="chartOptions.markers"
             [plotOptions]="chartOptions.plotOptions"
             [series]="chartOptions.series"
             [states]="chartOptions.states"
             [stroke]="chartOptions.stroke"
             [tooltip]="chartOptions.tooltip"
             [xaxis]="chartOptions.xaxis"
             [yaxis]="chartOptions.yaxis"
             class="w-chart"
  ></apx-chart>
</div>
